.tag {
  display: inline-block;

  box-sizing: border-box;
  margin-right: 5px;
  padding: 5px 10px;

  border-radius: 20px;
}

.tagS {
  font-size: 12px;
  line-height: 12px;
}

.tagM {
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-light);
}

.red {
  color: var(--white);

  font-weight: bold;

  background: #de0000;
}

.grey {
  color: var(--white);

  font-weight: bold;

  background: #b3c0d9;
}

.green {
  color: var(--green);

  font-weight: bold;

  background: var(--green-light);
}

.primary {
  color: var(--primary);

  background: none;

  border: 1px solid var(--primary);
}
