@tailwind base;
@tailwind components;
@tailwind utilities;

.visualyHidden {
  position: absolute;

  width: 0;
  height: 0;
  overflow: hidden;
}

:root {
  --black: #3B434E;
  --gray-dark: #6C7077;
  --gray: #A4A4A4;
  --gray-light: #D2D2D2;
  --white: white;
  --primary: #7351F5;
  --primary-hover: #4b2dc1;
  --red: #FC836D;
  --red-light: #f89c8b;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --bg-color: #F5F6F8;
  --font-family: "Noto Sans",
    sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  font-weight: 400;

  font-family: var(--font-family);

  background-color: var(--bg-color);
}

.homePage {
  height: 100%;
  padding-top: 20%;
  padding-bottom: 20%;

  text-align: center;
}