.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    
    margin-top: 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

.firstLevelActive,
.firstLevel:hover {
    color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
    fill: var(--primary);
}

.secondlevel {
    margin-bottom: 10px;

    color: var(--gray-dark);

    font-weight: 300;
    font-size: 12px;

    text-transform: uppercase;

    cursor: pointer;
}

.secondBlock {
    margin-top: 15px;
    margin-left: 12px;
    padding-left: 32px;

    border-left: 1px solid #DFDFDF;
}

.secondLevelBlock {
    overflow: hidden;
}

.thirdLevel {
    display: block;
    margin-bottom: 10px;

    color: var(--gray-dark);

    font-weight: 500;
    font-size: 14px;

    outline-offset: -1px;

    cursor: pointer;
}

.thirdLevelActive,
.thirdLevel:hover {
    color: var(--primary);
}